<%- include('header', {title: `Add Comments`}); -%>

  <body>
    <div class="container ">
      <%- include('navBar',{username : `${username}`}); -%>

        <div class='d-flex justify-content-between'>
          <h1>Add New comment</h1>
        </div>
        <form action="/library/<%=book_id%>/comment" method="POST" class='post-form'>
          <label class='form-label' for="fname">Comment :</label><br />
          <textarea class='form-control input' type="text" name="comment1"></textarea>
          <!-- <input class='form-control' type="text" name="comment" /><br /> -->
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>

    </div>

    <%- include('footer'); -%>