<%- include('header', {title: `Error`}); -%>

  <body>
    <div class="container">
      <div class="login">
        <%- include('navBar',{username : `${username}`}); -%>
          <h1 class="mt-5">Error</h1>
          <p class="lead">
            <%= content %>
          </p>
          <button class="btn btn-primary"><a class="text-white" style="text-decoration:none" href='/'>Return to
              index</a></button>
      </div>

    </div>

    <%- include('footer'); -%>