<%- include('header', {title: `Logout`}); -%>

  <body>
    <div class="container">
      <div class="login">
        <%- include('navBar',{username : `${username}`}); -%>
          <div class='content '>
            <h1 class="mt-5">You have been logged out</h1>
            <p class="lead">Thank you
            </p>
            <button class="btn btn-primary"><a class="text-white" style="text-decoration:none" href='/'>return to
                index</a></button>
            <button class="btn btn-primary"><a class="text-white" style="text-decoration:none"
                href='/login'>Login</a></button>
          </div>
      </div>
    </div>

    <%- include('footer'); -%>